<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filter</key>
	<dict>
		<key>Bundles</key>
		<array>
			<string>com.mobile.legends.usa</string>
			<string>com.mobile.legends</string>
			<string>com.mobilelegends.game</string>
			<string>com.mobile.legends.us</string>
			<string>com.skystone.mlbb</string>
			<string>com.mobilelegends.game.us</string>
		</array>
	</dict>
</dict>
</plist>
